/*!
Theme Name:   aStar
Theme URI:    https://woocommerce.com
Author:       Automattic
Author URI:   https://woocommerce.com/
Description:  Design by an Angel
Version:      1.0
Tested up to: 5.5.1
Requires PHP: 5.6.0
*/

.woocommerce-message, .woocommerce-error, .woocommerce-info {
  padding: 1em 2em 1em 3.5em;
  margin: 0 0 2em;
  position: relative;
  background-color: #f7f6f7;
  color: #515151;
  border-top: 3px solid #a46497;
  list-style: none outside;
  *zoom: 1;
  width: auto;
  word-wrap: break-word;
}
.woocommerce-info {
  border-top: 3px solid #5bc0de;
}
.woocommerce-message {
  border-top: 3px solid #8fae1b;
}
.woocommerce-error {
  border-top: 3px solid #d9534f;
}
.loading {
  position: relative;
}
.loading::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background-image: url('/wp-content/themes/aStar/images/loading.gif');
  z-index: 9;
  background-position: center;
  background-size: cover;
}

button.button_update {
  border: none;
}